<div class="container d-flex justify-content-center" style="margin-left: 5%; max-width: 95%">
  <div class="col-md-9">
    <h1 class="display-4">🎯 Metas ENEM</h1>

    <p class="lead">Bem-vindo à plataforma de metas dos alunos</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >Você está logado como &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>

    <div class="card mt-4 p-4 shadow-sm">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center border-end">
          <div>
            <h4 class="text-center">Total de alunos cadastrados:</h4>
            <h2 class="text-primary text-center">{{ totalAlunos }}</h2>
          </div>
        </div>

        <div class="col-md-8">
          <h5 class="text-center">Média das Notas</h5>
          <table class="table table-bordered text-center mb-0">
            <thead class="table-light">
              <tr>
                <th>Linguagens</th>
                <th>Humanas</th>
                <th>Natureza</th>
                <th>Matemática</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="mediaNotas">
                <td>{{ mediaNotas.linguagens | number: '1.0-0' }}</td>
                <td>{{ mediaNotas.humanas | number: '1.0-0' }}</td>
                <td>{{ mediaNotas.natureza | number: '1.0-0' }}</td>
                <td>{{ mediaNotas.matematica | number: '1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <p>Se precisar de suporte, acesse:</p>

    <ul>
      <li>
        <a href="https://gamaensino.com" target="_blank" rel="noopener noreferrer">Gama Ensino</a>
      </li>
      <li>
        <a href="https://gamaprevest.com/" target="_blank" rel="noopener noreferrer">Gama Pré-Vestibular</a>
      </li>
      <li>
        <a href="https://github.com/LuizHelio-Fim/Case-Estagio" target="_blank" rel="noopener noreferrer">Repositório MetasEnem</a>
      </li>
    </ul>
  </div>
</div>
